@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --body_background: blue;
    --body_backtoggle: white;
    --body_color: white;
    --body_icon: white;
    --body_nav: rgb(25, 22, 217);
    --icon:black;
    --iconb:white;
  }
 
  [dark-theme="dark"]{
    --body_backtoggle: #626267;
    --body_background: white;
    --body_color: white;
  
    --body_icon: white;
    --icon:white;
    --iconb:black;
  
  
  }
  body{
    background-color: white;
  }
  .w-i{
    width: 0.2px;
  }
  .input-radius{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .categories-radius{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom:  0.5px solid gray;
    border-top: 0.5px solid gray;
    border-left: 0.5px solid gray;
    font-size: 13px;
    padding: 10.6px 15px;
  }
  ::placeholder{
    font-size: 14px;
    color: black;
  }
  .categories-border{
    border-right: 0.5px solid gray;
    border-left: 0.5px solid gray;
  }
  .prev,
  .next {
    position: fixed;
    top: 250px;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-flex;
    translate: -50px;
    place-items: center;
    border-color: transparent;
    font-size: 1rem;
    cursor: pointer;
  }
  .prev:hover,
  .next:hover {
    background: rgb(73, 73, 91);
    border-radius: 20px;
  }
  .prev{
    left: 80px;
  }
  .next {
    right: 125px;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    color: white;
  }
article {
  position: fixed;
  top: 0px;
  background-color: green;
  left: 150px;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

main.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
main.lastSlide {
  transform: translateX(-100%);
}
main.nextSlide {
  transform: translateX(100%);
}
