@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --body_background: blue;
    --body_backtoggle: white;
    --body_color: white;
    --body_icon: white;
    --body_nav: rgb(25, 22, 217);
    --icon:black;
    --iconb:white;
  }
 
  [dark-theme="dark"]{
    --body_backtoggle: #626267;
    --body_background: white;
    --body_color: white;
  
    --body_icon: white;
    --icon:white;
    --iconb:black;
  
  
  }
  body{
    background-color: #282c30;
  }